<div class="variants variants__wrapper">

    <div class="variants__row variants__row--1">
        <div class="variants__col variants__col--1"></div>
        <div class="variants__col variants__col--2"></div>        
    </div>    

    <div class="variants__row variants__row--2">
        <div class="variants__col variants__col--3"></div>
        <div class="variants__col variants__col--4"></div>        
    </div>    

    <div class="variants__row variants__row--3">
        <div class="variants__col variants__col--5"></div>
        <div class="variants__col variants__col--6"></div>        
    </div>    

    <div class="variants__row variants__row--4">
        <div class="variants__col variants__col--7"></div>
        <div class="variants__col variants__col--8"></div>        
    </div>    

</div>
