.footer__wrapper {
    margin: 0 auto;
    margin-top: 2%;
    width: 100%;
    border: 1px solid #FFF;
    min-height: 5vh;
    font-weight: bold;
    color: white;
    display: flex;    
}

.footer__message {    
    display: flex;
    flex: 1 0 50%;
    font-size: 5vh;    
    justify-content: center;
}

.footer__timer {        
    display: flex;
    flex: 1 0 50%;
    font-size: 5vh;
    justify-content: center;
}

.footer__timer--bar {
    margin: 1% 0 1% 0;
    border: 0.25vw solid #000;
    width: 80%;
    text-align: center;
    background: #FFF;
}

.footer--danger {
    color: white;
    background-color: red;    
}

.footer--warning {
    color: black;
    background: yellow;
}