<div class="position position__wrapper">

    <div class="position__instance">
        
        <div *ngIf="side == 'left'" class="position__instruction">{{ side }}</div>        
        <div *ngIf="side == 'left'" class="position__worker">
            <img src="./assets/images/man_right.png" alt="">
        </div>

        <div *ngIf="side == 'right'" class="position__worker">
            <img src="./assets/images/man_left.png" alt="">
        </div>
        <div *ngIf="side == 'right'" class="position__instruction">{{ side }}</div>        
        
    </div>   

    <div class="position__instance">
        
        <div *ngIf="side == 'left'" class="position__instruction">{{ side }}</div>        
        <div *ngIf="side == 'left'" class="position__worker">
            <img src="./assets/images/man_right.png" alt="">
        </div>

        <div *ngIf="side == 'right'" class="position__worker">
            <img src="./assets/images/man_left.png" alt="">
        </div>
        <div *ngIf="side == 'right'" class="position__instruction">{{ side }}</div>        
        
    </div>   

    <div class="position__instance">
        
        <div *ngIf="side == 'left'" class="position__instruction">{{ side }}</div>        
        <div *ngIf="side == 'left'" class="position__worker">
            <img src="./assets/images/man_right.png" alt="">
        </div>

        <div *ngIf="side == 'right'" class="position__worker">
            <img src="./assets/images/man_left.png" alt="">
        </div>
        <div *ngIf="side == 'right'" class="position__instruction">{{ side }}</div>        
        
    </div>   

</div>