.position__wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: aliceblue;
  /* border: 2px solid limegreen; */
}

.position__instance {
  display: flex;
  width: 100%;
}

.position__instance--right {
  flex-direction: row-reverse;
}

.position__instruction {
  margin: 0 auto;
  display: flex;    
  flex: 1 1 auto;
  width: 90%;    
  flex-direction: column;
  border: 2px solid aliceblue;
}

.position__instruction--content {
  /* display: flex;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  flex-direction: row;
  width: 100%;  */
  /* border: 1px solid red; */
}

.position__instruction--title {
  /* flex-wrap: nowrap;
  flex: 1;
  flex-direction: row;
  width: 100%;  */
  font-weight: bold;
  margin-left: 5%;
  margin-top: 2%;
  /* border: 1px solid blue; */

}

.position__instruction--message {
  /* flex-wrap: nowrap;
  flex: 1;
  flex-direction: row;
  width: 100%;  */
  margin-left: 5%;
  margin-top: 2%;
  font-size: larger;
  font-weight: bold;
  /* border: 1px solid lime; */

}


.position__worker {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 10%;
  justify-content: center;
  align-content: center;
  margin-bottom: 25%;
  /* border: 2px solid blue; */

}

.position__worker img {
  height: 3vh;
}
