.position__wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: aliceblue;
  /* border: 2px solid limegreen; */
}

.position__instance {
  display: flex;
  width: 100%;
}

.position__instance--right {
  flex-direction: row-reverse;
}

.position__instruction {
  display: flex;
  flex: 1 1 auto;
  width: 90%;
  border: 2px solid aliceblue;
}

.position__worker {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 10%;
  justify-content: center;
  align-content: center;
  margin-bottom: 25%;
  /* border: 2px solid blue; */
  
}

.position__worker img {
  height: 3vh;
}
