<div class="chassis chassis__wrapper">

    <div class="chassis chassis__picture">

    </div>

    <div class="chassis chassis__info">

        <div class="chassis__number">
            <div class="chassis__number--title">
                CHASSI
            </div>
            <div class="chassis__number--value">
                3333333
            </div>
        </div>

        <div class="chassis__popid">
            <div chassis="chassis__popid--title">
                PROX. POPID
            </div>
            <div chassis="chassis__popid--value">
                123456
            </div>
        </div>

    </div>

</div>
