.chassis__wrapper {
    margin: 0 auto;
    display: flex;
    width: 100%;    
    flex-direction: column;
    /* border: 3px solid red; */
}

.chassis__picture {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    max-height: 60vh;    
    justify-content: center;
    margin-top: 25%;
    /* border: 1px solid red;     */
}

.chassis__picture img {
    width: 100%;
}

.chassis__info {
    display: flex;
    flex: 1 1 auto;
    height: 3.5vh;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 25%;
    /* border: 2px solid lime; */
}

.chassis__number {
    display: flex;   
    flex-direction: column;
    width: 100%;
    text-align: center;
    
    margin-top: 7.5%; 
    /* border: 2px solid blue; */
}

.chassis__number--title {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    width: 100%;
    font-size: 1.5vh;    
    color: orange;
    font-weight: bold;
}

.chassis__number--value {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    width: 100%;
    color: pink;    
    font-size: 2.5vh;
    font-weight: bold;
}

.chassis__popid {
    display: flex;   
    flex-direction: column;
    width: 100%;
    text-align: center;    
    margin-top: 10%;
    /* border: 3px solid gray; */
}

.chassis__popid--title {
    color: orange;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    font-size: 1.25vh;  
    width: 100%;    
    font-weight: bold;
}

.chassis__popid--value {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    width: 100%;
    color: yellow;    
    font-size: 2.5vh;  
    font-weight: bold;
}