<div class="chassis chassis__wrapper">

    <div class="chassis chassis__picture">
        <img src="assets/images/default_chassis.png" alt="NO_PICTURE">
    </div>

    <div class="chassis chassis__info">

        <div class="chassis__number">

            <div class="chassis__number--title">
                CHASSI
            </div>
            <div class="chassis__number--value">
                3333333
            </div>

        </div>

        <div class="chassis__popid">
            
            <div class="chassis__popid--title">
                PROX. POPID
            </div>
            <div class="chassis__popid--value">
                555555
            </div>

        </div>

    </div>

</div>
